In [1]:
#Importing necessary packages
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Twitter_data.csv")

In [3]:
df.head()

,author,content,country,date_time,id,language,latitude,longitude,number_of_likes,number_of_shares
0,katyperry,Is history repeating itself...?#DONTNORMALIZEH...,NaN,12/01/2017 19:52,8.196330e+17,en,NaN,NaN,7900,3472
1,katyperry,@barackobama Thank you for your incredible gra...,NaN,11/01/2017 08:38,8.191010e+17,en,NaN,NaN,3689,1380
2,katyperry,Life goals. https://t.co/XIn1qKMKQl,NaN,11/01/2017 02:52,8.190140e+17,en,NaN,NaN,10341,2387
3,katyperry,Me right now üôèüèª https://t.co/gW55C1wrwd,NaN,11/01/2017 02:44,8.190120e+17,en,NaN,NaN,10774,2458
4,katyperry,SISTERS ARE DOIN' IT FOR THEMSELVES! üôåüèªüí™üèª‚ù§Ô∏è ht...,NaN,10/01/2017 05:22,8.186890e+17,en,NaN,NaN,17620,4655

In [9]:
df = df.drop(["country","id","language","latitude","longitude"], axis=1)
df.head()

,author,content,date_time,number_of_likes,number_of_shares
0,katyperry,Is history repeating itself...?#DONTNORMALIZEH...,12/01/2017 19:52,7900,3472
1,katyperry,@barackobama Thank you for your incredible gra...,11/01/2017 08:38,3689,1380
2,katyperry,Life goals. https://t.co/XIn1qKMKQl,11/01/2017 02:52,10341,2387
3,katyperry,Me right now üôèüèª https://t.co/gW55C1wrwd,11/01/2017 02:44,10774,2458
4,katyperry,SISTERS ARE DOIN' IT FOR THEMSELVES! üôåüèªüí™üèª‚ù§Ô∏è ht...,10/01/2017 05:22,17620,4655

In [11]:
df = df.rename(columns= {"author": "user", "content": "text", "number_of_likes": "favourite_count", "number_of_shares": "retweet_count","date_time": "created_at"})
df.head()

,user,text,created_at,favourite_count,retweet_count
0,katyperry,Is history repeating itself...?#DONTNORMALIZEH...,12/01/2017 19:52,7900,3472
1,katyperry,@barackobama Thank you for your incredible gra...,11/01/2017 08:38,3689,1380
2,katyperry,Life goals. https://t.co/XIn1qKMKQl,11/01/2017 02:52,10341,2387
3,katyperry,Me right now üôèüèª https://t.co/gW55C1wrwd,11/01/2017 02:44,10774,2458
4,katyperry,SISTERS ARE DOIN' IT FOR THEMSELVES! üôåüèªüí™üèª‚ù§Ô∏è ht...,10/01/2017 05:22,17620,4655

In [12]:
df.to_csv("Twitter_data.csv", index= False)